name: CDK Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
        cache: 'npm'
    - name: Install NPM Depedencies
      run: |
        npm i
        npm i -g aws-cdk
    - name: Attempt to build into JavaScript
      run: npm run build
